@page "/"

<PageTitle>Pod request access</PageTitle>

<section>
	<div>
		<h1>Publish your podcasts <span>everywhere.</span></h1>
		<p>Upload your audio to Pod with a single click. We’ll then distribute your podcast to Spotify, Apple Podcasts, Google Podcasts, Pocket Casts and more!</p>
		<div>
			<img
				alt="Spotify company logotype"
				src="/images/svg/companies/spotify.svg" />
			<img
				alt="Apple podcast company logotype"
				src="/images/svg/companies/apple-podcast.svg" />
			<img
				alt="Google podcasts company logotype"
				src="/images/svg/companies/google-podcasts.svg" />
			<img
				alt="Pocket casts company logotype"
				src="/images/svg/companies/pocket-casts.svg" />
		</div>
		<form
			method="POST" >
			<div>
				<label
					class="visually-hidden"
					for="email" >
					Email address
				</label>
				<input
					id="email"
					placeholder="Email address"
					type="email" />
				<button
					type="submit" >
					Request Access
				</button>
			</div>
		</form>
	</div>
</section>