.header {
	padding: 6.2rem 2.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	@media (width >= 768px) {
		padding: 5rem 3.9rem;
		justify-content: flex-start;
	}

	@media (width >= 1440px) {
		padding: 10.2rem 16.5rem;
	}
}

.header__logotype {
	width: 13.485rem;
	height: 5.6rem;
}