<!DOCTYPE html>
<html
	lang="en" >

<head>
	<meta
		charset="utf-8" />
	<meta
		content="width=device-width, initial-scale=1.0"
		name="viewport" />
	<base
		href="/" />
	<link
		href="/styles/styles.css"
		rel="stylesheet" />
	<link
		href="/styles/fonts.css"
		rel="stylesheet" />
	<link
		href="/styles/sanitize.css"
		rel="stylesheet" />
	<link
		href="/styles/sanitize-forms.css"
		rel="stylesheet" />
	<link
		href="/styles/sanitize-typography.css"
		rel="stylesheet" />
	<link
		href="PodRequestAccessLandingPage.styles.css"
		rel="stylesheet" />
	<link
		href="favicon.png"
		rel="icon"
		type="image/png" />
	<HeadOutlet />
</head>

<body
	class="body" >
<Routes />
<div
	class="overlay overlay--color--river-styx" >
</div>
<div
	class="overlay overlay--color--screen-glow" >
</div>
<img
	alt=""
	class="decorative-dots-rectangle"
	src="/images/svg/figures/dots-rectangle.svg" />
<script
	src="_framework/blazor.web.js" ></script>
</body>

</html>