@using Microsoft.AspNetCore.Components.Forms
@using static Microsoft.AspNetCore.Components.Web.RenderMode

@rendermode InteractiveServer

<EditForm
	EditContext="_editContext"
	FormName="GainAccess"
	method="POST"
	OnValidSubmit="HandleFormSubmit" >
	<DataAnnotationsValidator />
	<div
		class="gain-access-form__field" >
		<label
			class="visually-hidden"
			for="email" >
			Email address
		</label>
		<InputText
			@bind-Value="Model!.Email"
			class="gain-access-form__input"
			id="email"
			placeholder="Email address"
			type="email" />
		<button
			class="gain-access-form__submit-button submit_button"
			type="submit" >
			Request Access
		</button>
	</div>
	<div
		class="gain-access-form__error-message" >
		<ValidationMessage
			For="() => Model.Email" />
	</div>
</EditForm>

@code {
	private EditContext? _editContext;

	[SupplyParameterFromForm] public GainAccessModel? Model { get; set; }

	protected override void OnInitialized()
	{
		Model ??= new GainAccessModel();
		_editContext = new EditContext(Model);
	}

	private void HandleFormSubmit()
	{
		Console.WriteLine("Submitted!");
	}

}