.gain-access-form__field {
	display: flex;
	flex-direction: column;
	row-gap: 1.6rem;
	position: relative;
	z-index: 2;

	@media (width >= 768px) {
		display: block;
		row-gap: unset;
		margin-right: 20.8rem;
	}

	@media (width >= 1440px) {
		margin-right: 29.6rem;
	}
}

::deep .gain-access-form__input {
	border-radius: 2.8rem;
	background-color: var(--bunting);
	font-family: var(--font-family), sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 200%;
	color: rgba(255, 255, 255, 0.5);
	border: none;
	padding: 0.9rem 3.1rem 0.9rem 3.1rem;
	position: relative;
	z-index: 2;
	transition: border-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	will-change: border-color, box-shadow;

	&::placeholder {
		background-color: var(--bunting);
		font-family: var(--font-family), sans-serif;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 200%;
		color: rgba(255, 255, 255, 0.5);
		opacity: unset;
	}

	::deep &:focus {
		border-color: var(--screen-glow);
		box-shadow: 0 0.1rem 0.1rem var(--screen-glow) inset, 0 0 0.8rem var(--screen-glow);
		outline: 0 none;
	}

	@media (width >= 768px) {
		padding: 1.4rem 19.9rem 1.4rem 3.2rem;
		width: 100%;
	}
}

::deep .gain-access-form__submit-button {
	position: relative;
	z-index: 2;

	@media (width >= 768px) {
		position: absolute;
		top: 50%;
		right: 0.5rem;
		transform: translate(0, -50%);
	}
}

.gain-access-form__error-message {
	font-family: var(--font-family), sans-serif;
	font-weight: 800;
	font-size: 1.2rem;
	color: var(--coral-red);
	position: absolute;
	top: -2.2rem;
	left: 3.1rem;
	z-index: 3;

	@media (width >= 768px) {
		top: unset;
		bottom: -2.2rem;
		left: 3.2rem;
	}
}

.gain-access-form__success-message {
	font-family: var(--font-family), sans-serif;
	font-weight: 800;
	font-size: 1.2rem;
	color: var(--eva-green);
	position: absolute;
	top: -2.2rem;
	left: 3.1rem;
	z-index: 3;

	@media (width >= 768px) {
		top: unset;
		bottom: -2.2rem;
		left: 3.2rem;
	}
}